.app-container {
  width: 600px;
  margin: 100px auto;
}
.app-container .header {
  text-align: center;
}
.app-container .main-content {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
}
.app-container .main-content .nav-list {
  display: flex;
  flex-direction: column;
}
.app-container .main-content .nav-list .nav-list-item {
  height: 40px;
  width: 100px;
  text-align: center;
  line-height: 40px;
  border-radius: 4px;
}
.app-container .main-content .nav-list .active {
  background-color: skyblue;
}
.home-nav-list {
  display: flex;
}
